$tablet-size: 758px;
$desktop-size: 1024px;

$mainColor: #eacefd;

@mixin mobile {
  @media (max-width: #{$tablet-size - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-size}) and (max-width: #{$desktop-size}) {
    @content;
  }
}

@mixin pc {
  @media (min-width: #{$desktop-size}) {
    @content;
  }
}

@mixin flex-center-sort {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-end-sort {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-edge-sort {
  display: flex;
  justify-content: space-between;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin none-border-input {
  border: none;
  background-color: initial;
  text-align: center;
  font-size: 20px;
}