@font-face {
  font-family: 'Hyundai Motor Harmony B';
  src: url('./Hyundai Motor Harmony B.ttf');
}

@font-face {
  font-family: 'Hyundai Motor Harmony L';
  src: url('./Hyundai Motor Harmony L.ttf');
}

@font-face {
  font-family: 'Hyundai Motor Harmony M';
  src: url('./Hyundai Motor Harmony M.ttf');
}
